.custom-tabset {
    border-bottom: none;
}

.custom-tab {
    border: none;
    border-radius: 0.25rem 0.25rem 0 0;
}

.custom-tab a {
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0 1rem;
}

.custom-tab.slds-is-active {
    background-color: #f0f0f0;
}